body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.invitation {
  color: white;
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 8px;
}

.button1 {
  display: block;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  background-color: #841f7f;
  padding: 12px 18px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.site-footer {
  margin-top: 200px;
}

.link {
  text-decoration: none;
  color: #841f7f;
}

#footer-content {
  background: blue;
}
